* {
  font-family: "Times New Roman", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

@media (min-aspect-ratio: 3/1) {
  html {
    font-size: 14vmin;
  }
}

body {
  /* background-color: bisque; */
  background-color: lightblue;
  margin-top: 0px;
  height: 95vh;
  width: 100vw;
}

header{
  display:inline-flex;
  position: sticky;
  top: 0;
  width: 100%;
  /* background-color: rgb(240, 181, 110); */
  background-color: rgb(89, 198, 234);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
  /* vertical-align: text-bottom; */
}

#weatherLocation{
  font-weight: 600;
  font-size: 1.5rem;
  /* width: 50%; */
  margin-left: 1.25rem;
}

#weatherSummary{
  font-size: 1.5rem;
  margin-left: 1rem;
}

#search-form{
  margin: 1rem;
  /* margin-bottom: 1rem; */
}

#search-input {
  font-size: 1.5rem;
}

button {
  /* color: #aaa; */
  color: #7a7979;
  /* background-color: bisque; */
  background-color: lightblue;
  /* float: right; */
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10%;
  /* margin-left: 1rem;   */
}

button:focus, button:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

